In [1]:
import findspark
findspark.find()
import pyspark as ps
import warnings
from pyspark.sql import SQLContext

In [2]:
try:
    # create SparkContext on all CPUs available: in my case I have 4 CPUs on my laptop
    sc = ps.SparkContext("local", "Simple App")
    sqlContext = SQLContext(sc)
    print("Just created a SparkContext")
except ValueError:
    warnings.warn("SparkContext already exists in this scope")

Just created a SparkContext

In [9]:
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('day_data_data2018-12-15 00_00_00.csv')
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.limit(5).toPandas().head()

,_c0,created_at,id_str,text,truncated,verified,followers_count,favourites_count,stock_price_col
0,2,2018-12-14 20:52:59,1073682286279827457,RT @Hellfire_wrestl: Send £200 Now!!,None,None,None,None,None
1,Amazon UK gc Hotkiten1234@outlook.com,None,None,None,None,None,None,None,None
2,Do it right fucking now like a good pathetic p...,False,False,963.0,22917.0,1592.503,None,None,None
3,7,2018-12-14 17:17:58,1073628176151207936,RT @debdavenkitchen: Get it before Christmas. ...,False,False,650.0,17.0,1592.503
4,12,2018-12-14 11:03:33,1073533948377083905,RT @dealifind: Rawlings Baseball Premium Heart...,None,None,None,None,None