In [1]:
import findspark
findspark.find()
import pyspark as ps
import warnings
from pyspark.sql import SQLContext
from pyspark.sql.types import StructField, StructType , IntegerType, StringType, TimestampType, BooleanType, FloatType

In [2]:
try:
    # create SparkContext on all CPUs available: in my case I have 4 CPUs on my laptop
    sc = ps.SparkContext("local", "Simple App")
    sqlContext = SQLContext(sc)
    print("Just created a SparkContext")
except ValueError:
    warnings.warn("SparkContext already exists in this scope")

Just created a SparkContext

In [5]:
schema = StructType([StructField('_c0', IntegerType(), True),
                     StructField('created_at', TimestampType(), True),
                     StructField('id_str', StringType(), True),
                     StructField('text', StringType(), True),
                     StructField('truncated', BooleanType(), True),
                     StructField('verified', BooleanType(), True),
                     StructField('followers_count', IntegerType(), True),
                     StructField('favourites_count', IntegerType(), True),
                     StructField('stock_price_col', FloatType(), True)])

In [7]:
df = sqlContext.read.csv('day_data_data2018-12-15 00_00_00.csv', header=True, schema=schema)
type(df)

pyspark.sql.dataframe.DataFrame

In [8]:
df.limit(5).toPandas().head()

,_c0,created_at,id_str,text,truncated,verified,followers_count,favourites_count,stock_price_col
0,2.0,2018-12-14 20:52:59,1073682286279827457,RT @Hellfire_wrestl: Send £200 Now!!,None,None,None,None,NaN
1,NaN,NaT,None,None,None,None,None,None,NaN
2,NaN,NaT,None,None,None,None,None,None,NaN
3,NaN,NaT,None,None,None,None,None,None,NaN
4,12.0,2018-12-14 11:03:33,1073533948377083905,RT @dealifind: Rawlings Baseball Premium Heart...,None,None,None,None,NaN

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- id_str: string (nullable = true)
 |-- text: string (nullable = true)
 |-- truncated: boolean (nullable = true)
 |-- verified: boolean (nullable = true)
 |-- followers_count: integer (nullable = true)
 |-- favourites_count: integer (nullable = true)
 |-- stock_price_col: float (nullable = true)